 #root , html, body {
     height: 100vh;
 }

 body{
     margin : 0;
     background-color: whitesmoke;
     /* background-image: url(https://media.istockphoto.com/photos/sliced-figure-picture-id1300035600?s=2048x2048); */
     /* object-fit: cover */
 }

 * {
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 html{
     scroll-behavior: smooth;
 }

 h1{
     align-self: auto;
 }